<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OBProtocolManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BDC86D91EA05FC6009C1592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDC86F21EA05FC6009C1592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDC86FD1EA05FC6009C1592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
